html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
  }
  html {
    height:100vh;
    width:100vw;
    overflow:scroll;
  }
  body {
    height: calc(100vh - 30px);
    width: calc(100vw - 50px);
    margin-top: 80px;
    padding: 5px 25px;
  }
  header img {
    height: 80px;
    margin-left: 40px;
  }
  header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    /* box-shadow: 0 0 25px 0 black; */
  }
  header * {
    display: inline;
  }
  header li {
    margin: 20px;
  }

  header li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  form {
      display: inline-block;
  }
  h1, h2 {
    text-align: center;
  }
  p {
    text-align: left;
  }
  #my{
    zoom: 135%;
  }
  .content {
    border: 2px solid black;
    max-width: 1000px;
    /* margin: 0 auto;
    text-align: center; */
  }
  .JacobianTable, .output, .input {
    text-align: center;
  }
  table {
    border:1px none black;
    margin-left:auto;
    margin-right:auto;
  }

  table td {
    font-size: 1rem;
    color: black;
  }
  
  table th {
    width: auto !important;
    color: black;
  }
  
  tbody tr:hover td, tbody tr:hover th {
    background-color: #fff2f9;
  }

  .centerform, .slider {
    text-align: center;
  }
  .plotcontainer {
    background-color: none;
    overflow: none;
    margin-left: none;
    margin-right: none;
    border: none;
    text-align: center;
    float: center;
    width: 100%;
    height: 550px;
  }
  th {
    text-align: center;
  }
  .lead {
    text-align: center;
  }
  .row {
    text-align: left;
  }
  .column {
    float: left;
    width: 25%;
  }
  #leftColumn {
    width: 50%;
    box-sizing: border-box;
  }
  #rightColumn {
    border-left: 1px solid black;
    width: 50%;
    box-sizing: border-box;
  }
  #dataColumn {
    float: left;
    width: 40%;
  }
  #dataMiniColumn {
    float: left;
    width: 60%;
  }
  #headerColumn {
    float: center;
    width: 100%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .Yes, .No {
    margin: 10px;
    padding: 5px;
  }
  .Yes {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .No {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  #predict {
    margin: 10px;
  }
  
  table.largeTable tr td { 
    font-size: 20px; 
    padding: 5px;
  }

  table.largeTable th {
    font-size: 20px; 
    width: auto !important;
    padding: 5px;
  }

  .handsontable table thead th{
    /* background-color: green;
    color:white; */
    font-weight:bold;
    font-size:14px;
  }