<!DOCTYPE html>
<html>
  <head>
    <title>Scalability of remanufacturing</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handsontable@9.0.1/dist/handsontable.full.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/plotting.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/handsontable@9.0.1/dist/handsontable.full.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
  </head>
  <body>
    <div class="content">
    <div class="row">
      <div class="column" id="headerColumn">
        <hr>
        <h1>Scalability of remanufacturing</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="column" id="leftColumn">

        <h2>Input your data</h2>
        <!-------------------- Input DOE data ------------------->
        <div class="centerform">
          <p class="lead">Upload a csv file to view its data</p>
          <form id="preprocess" method="POST" enctype="multipart/form-data" action="/">
            <div class="row">   
              <div class="column" id="dataMiniColumn">              
                <input type="number" name="n_inputs" value="0" min="0" max="10" step="1" id="n_inputs">
                <label for="n_inputs">Number of parameters</label>
              </div>
              <div class="column" id="dataColumn"> 
                <input type="file" id=fileupload name="filename" accept=".csv">
              </div>
            </div>
            <div class="row">   
              <div class="column" id="dataMiniColumn">              
                <input type="number" name="n_outputs" value="0" min="0" max="10" step="1" id="n_outputs">
                <label for="n_outputs">Number of variables</label>
              </div>
              <div class="column" id="dataColumn"> 
                <input type="submit">
              </div>
            </div>
          </form>
        </div>

        <!------------------ Problem definition ----------------->
        <hr>
        <h2>Define the change effect and monotonicity vectors</h2>
    
        <div class="centerform">
          <form id="define" method="POST">
              <input type="submit" value="Define Problem">
          </form>
        </div>
    
        <!-- Input tables -->
        <p class="lead">Assign change effect values</p>
        <div id="input">
        </div>
    
        <p class="lead">Assign monotonicity values</p>
        <div id="output">
        </div>
    
        <p class="lead">Choose Jacobian components to plot</p>
        <div id="JacobianTable">
        </div>
    
        <script>
          $("form#define").submit(function(event) {
            event.preventDefault();
            $.ajax({
              url: "/api/define",
              type: "POST",
              data: {},
              success: function(response) {
                deleteTable("input");
                deleteTable("output");
                deleteTable("JacobianTable");
                
                var nx = response.nx;
                var nf = response.nf;
                var i_labels = response.i_labels;
                var o_labels = response.o_labels;
    
                addInputTable(nx,"input",i_labels);
                addInputTable(nf,"output",o_labels);
                addJacobian(nx,nf,i_labels,o_labels);
              },
              error: function(err) {
                console.log(err);
              }
            });
            return false
          });
        </script>
    
      </div>
      <div class="column" id="rightColumn">
        <!------------------ Problem projection ----------------->
        <h2>Here is a projection of the design space</h2>

        <div class="centerform">
          <form id="predict" method="POST" enctype="multipart/form-data">
            <div class="row">             
              <input type="number" name="resolution" value="20" min="10" max="200" step="1" id="resolution">
              <label for="resolution">Resolution</label>
              <input type="checkbox" name="intersect" value="" id="intersect">
              <label for="intersect">Intersection</label>
              <input type="submit" value="Plot projection">
            </div>
          </form>
        </div>

        <div class="plotcontainer" id="canvas"></div>

        <div class="centerform">
          <form method ="post" enctype="multipart/form-data" id="changeBand">
                <label for="slide">Kernel bandwidth</label>
                <input id="slide" type="range" min="0" max="100" step="0.1" value="43.5" name="slide">
                <div id="sliderAmount"></div>
          </form>
        </div>

        <script>
          var slide = document.getElementById("slide");
          $("input#slide").on("change", function(event) {
            event.preventDefault();
            plot_contour();
          });
        </script>

        <script>
          $("form#predict").submit(function(event) {
            event.preventDefault();
            plot_contour();
          });
        </script>

      </div>
    </div>
    </div>
  </body>
</html>